body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headertitle {
  height:100px;
  background-color: #333;
  color:whitesmoke;
  margin-bottom:15px;
  text-align:center;
  font-size:38px;
  display:flex;
  justify-content:center;
  align-items:center;
  }

  .kitten-list{
    background-color:white;
    margin:auto;
    width:90%;
    display:flex;
    flex-direction:row;
    border:1px solid #efefef;
    padding:30px;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items:flex-start;
  }

  .joke {
    align-items:center;
    padding:0;
    width:30%;
    overflow: hidden;
    border:1px solid #cecece;
    border-radius: 10;
    font-family: Roboto, sans-serif;
    font-weight:100;
    height:auto;
    margin:5px;
    flex-grow:1;
    font-size:15px;
    color:#333333;
    flex-shrink: 1;
flex-basis: auto;
  }

  .infocat {padding:5px;}

  .piadaruim {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
   transition: all 0.9s ease;
  }

  input[type=checkbox]{
    margin-right: 10px;
    font-size:38px;
  }

  
  input[type=checkbox]:focus{
    outline:0;
  }

  .formulario {text-align:center;}