@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');


body {
  margin: 0;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: #6441A5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5 );
  background: linear-gradient(to right, #2a0845, #6441A5 );
  text-align:center;
  }

  
header > h1 {
  color: whitesmoke;
  font-size: 50px;
}

main {  text-align:center;}

.meme {position:relative; width: 60%; margin: auto;}

.meme > img {width: 100%;}

.meme h2 {
  width:100%;
  color: black;
  font-family: 'Anton', sans-serif;

  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-size: 50px;
  position: absolute;text-align:center;color:white;text-transform: uppercase;}
  

.meme h2.top {top:0;}

.meme h2.bottom {bottom:0;}
